body {
    text-align: center;
    background-color: lightskyblue;
}

img {
    margin: 20px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

button {
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    position: relative;
    bottom: 40px;
}

#like {
    width: 70px;
    height: 70px;
}

#dislike {
    width: 70px;
    height: 70px;
}

#delete {
    background-color: aliceblue;
    color: black;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
}

#votes1 {
    font-weight: bold;
    font-size: 25px;
}

#votes2 {
    font-weight: bold;
    font-size: 25px;
}

#page2P {
    border: solid 5px black;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

#link2P {
    position: relative;
    top: 100px;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
    color: azure;
}